--
-- PostgreSQL database dump
--

\restrict X91TXCo8oLOOz1ajkAvecKlIs4jgOmSgHu7voXo8wZq6s2o3NEx9SZLcY74Cbp5

-- Dumped from database version 17.7 (Debian 17.7-3.pgdg13+1)
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: badge; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.badge (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    earned_at timestamp without time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.badge OWNER TO postgres;

--
-- Name: badge_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.badge_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.badge_id_seq OWNER TO postgres;

--
-- Name: badge_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.badge_id_seq OWNED BY public.badge.id;


--
-- Name: category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.category (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.category OWNER TO postgres;

--
-- Name: category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.category_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.category_id_seq OWNER TO postgres;

--
-- Name: category_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.category_id_seq OWNED BY public.category.id;


--
-- Name: daily_task; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.daily_task (
    id integer NOT NULL,
    date date NOT NULL,
    completed boolean NOT NULL,
    user_id integer NOT NULL,
    task_id integer NOT NULL
);


ALTER TABLE public.daily_task OWNER TO postgres;

--
-- Name: daily_task_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.daily_task_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.daily_task_id_seq OWNER TO postgres;

--
-- Name: daily_task_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.daily_task_id_seq OWNED BY public.daily_task.id;


--
-- Name: quote; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quote (
    id integer NOT NULL,
    text character varying(500) NOT NULL,
    author character varying(100),
    category character varying(50),
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.quote OWNER TO postgres;

--
-- Name: quote_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.quote_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.quote_id_seq OWNER TO postgres;

--
-- Name: quote_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.quote_id_seq OWNED BY public.quote.id;


--
-- Name: share_token; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.share_token (
    id integer NOT NULL,
    token character varying(64) NOT NULL,
    pdf_type character varying(20) NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    user_id integer NOT NULL,
    year integer,
    month integer,
    start_date date
);


ALTER TABLE public.share_token OWNER TO postgres;

--
-- Name: share_token_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.share_token_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.share_token_id_seq OWNER TO postgres;

--
-- Name: share_token_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.share_token_id_seq OWNED BY public.share_token.id;


--
-- Name: task; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.task (
    id integer NOT NULL,
    title character varying(200) NOT NULL,
    duration character varying(50),
    user_id integer NOT NULL,
    category_id integer NOT NULL
);


ALTER TABLE public.task OWNER TO postgres;

--
-- Name: task_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.task_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.task_id_seq OWNER TO postgres;

--
-- Name: task_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.task_id_seq OWNED BY public.task.id;


--
-- Name: user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."user" (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(120) NOT NULL,
    password_hash character varying(256) NOT NULL,
    theme character varying(20) NOT NULL,
    reminders_enabled boolean NOT NULL,
    reminder_time time without time zone,
    last_reminder_sent date
);


ALTER TABLE public."user" OWNER TO postgres;

--
-- Name: user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_id_seq OWNER TO postgres;

--
-- Name: user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_id_seq OWNED BY public."user".id;


--
-- Name: badge id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.badge ALTER COLUMN id SET DEFAULT nextval('public.badge_id_seq'::regclass);


--
-- Name: category id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.category ALTER COLUMN id SET DEFAULT nextval('public.category_id_seq'::regclass);


--
-- Name: daily_task id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_task ALTER COLUMN id SET DEFAULT nextval('public.daily_task_id_seq'::regclass);


--
-- Name: quote id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quote ALTER COLUMN id SET DEFAULT nextval('public.quote_id_seq'::regclass);


--
-- Name: share_token id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.share_token ALTER COLUMN id SET DEFAULT nextval('public.share_token_id_seq'::regclass);


--
-- Name: task id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task ALTER COLUMN id SET DEFAULT nextval('public.task_id_seq'::regclass);


--
-- Name: user id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user" ALTER COLUMN id SET DEFAULT nextval('public.user_id_seq'::regclass);


--
-- Data for Name: badge; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.badge (id, name, earned_at, user_id) FROM stdin;
1	First Step	2026-01-22 08:26:44.217905	2
2	First Step	2026-01-22 10:24:11.908094	1
3	First Step	2026-01-22 13:21:37.136159	5
4	First Step	2026-01-22 19:45:03.025279	3
5	First Step	2026-01-22 22:21:08.061713	8
6	Perfect Week	2026-01-23 05:15:14.030034	1
7	First Step	2026-01-26 11:08:17.044465	11
8	First Step	2026-01-26 19:08:59.042674	10
\.


--
-- Data for Name: category; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: daily_task; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: quote; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.quote (id, text, author, category, created_at) FROM stdin;
\.


--
-- Data for Name: share_token; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.share_token (id, token, pdf_type, expires_at, user_id, year, month, start_date) FROM stdin;
1	ZKgYYAbLKA7y_qd0xWsieh_8SsVbgcgqZ_Gi3Wpenzs	week	2026-01-29 16:41:04.936537	1	\N	\N	2026-01-19
2	qf548ueX0Rbi3ulwW65WKOK-XURzlg3PjWKM_5HBnyM	week	2026-02-21 19:01:17.45171	1	\N	\N	2026-01-19
3	YATNoDN4tmEZm_twc7thdpubV0P2_Mx5-Wnf8lK2HV0	week	2026-01-30 05:08:04.766274	1	\N	\N	2026-01-19
4	zYkfYZoUds3JiXptwzZ7kA1-ptcdfi-xQ67cHrqLuC0	week	2026-02-04 18:31:56.579181	1	\N	\N	2026-01-26
5	aJ_-iT9BR1ILVcBM0BOjUcLBqvW96Vkb56LNKqwzPQc	week	2026-02-08 22:30:17.149203	1	\N	\N	2026-01-26
\.


--
-- Data for Name: task; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: badge_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.badge_id_seq', 8, true);


--
-- Name: category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.category_id_seq', 100, true);


--
-- Name: daily_task_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.daily_task_id_seq', 3182, true);


--
-- Name: quote_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.quote_id_seq', 1, false);


--
-- Name: share_token_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.share_token_id_seq', 5, true);


--
-- Name: task_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.task_id_seq', 76, true);


--
-- Name: user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_id_seq', 22, true);


--
-- Name: badge badge_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.badge
    ADD CONSTRAINT badge_pkey PRIMARY KEY (id);


--
-- Name: category category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT category_pkey PRIMARY KEY (id);


--
-- Name: daily_task daily_task_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_task
    ADD CONSTRAINT daily_task_pkey PRIMARY KEY (id);


--
-- Name: quote quote_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quote
    ADD CONSTRAINT quote_pkey PRIMARY KEY (id);


--
-- Name: share_token share_token_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.share_token
    ADD CONSTRAINT share_token_pkey PRIMARY KEY (id);


--
-- Name: task task_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task
    ADD CONSTRAINT task_pkey PRIMARY KEY (id);


--
-- Name: badge uq_user_badge; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.badge
    ADD CONSTRAINT uq_user_badge UNIQUE (user_id, name);


--
-- Name: category uq_user_category; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT uq_user_category UNIQUE (user_id, name);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: ix_badge_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_badge_user_id ON public.badge USING btree (user_id);


--
-- Name: ix_category_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_category_user_id ON public.category USING btree (user_id);


--
-- Name: ix_daily_task_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_daily_task_date ON public.daily_task USING btree (date);


--
-- Name: ix_daily_task_task_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_daily_task_task_id ON public.daily_task USING btree (task_id);


--
-- Name: ix_daily_task_user_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_daily_task_user_date ON public.daily_task USING btree (user_id, date);


--
-- Name: ix_daily_task_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_daily_task_user_id ON public.daily_task USING btree (user_id);


--
-- Name: ix_share_token_expires_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_share_token_expires_at ON public.share_token USING btree (expires_at);


--
-- Name: ix_share_token_token; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_share_token_token ON public.share_token USING btree (token);


--
-- Name: ix_task_category_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_task_category_id ON public.task USING btree (category_id);


--
-- Name: ix_task_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_task_user_id ON public.task USING btree (user_id);


--
-- Name: ix_user_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_user_email ON public."user" USING btree (email);


--
-- Name: badge badge_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.badge
    ADD CONSTRAINT badge_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id) ON DELETE CASCADE;


--
-- Name: category category_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT category_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id) ON DELETE CASCADE;


--
-- Name: daily_task daily_task_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_task
    ADD CONSTRAINT daily_task_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.task(id) ON DELETE CASCADE;


--
-- Name: daily_task daily_task_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_task
    ADD CONSTRAINT daily_task_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id) ON DELETE CASCADE;


--
-- Name: share_token share_token_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.share_token
    ADD CONSTRAINT share_token_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id) ON DELETE CASCADE;


--
-- Name: task task_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task
    ADD CONSTRAINT task_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.category(id) ON DELETE CASCADE;


--
-- Name: task task_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task
    ADD CONSTRAINT task_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict X91TXCo8oLOOz1ajkAvecKlIs4jgOmSgHu7voXo8wZq6s2o3NEx9SZLcY74Cbp5

